<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.aquan.iron.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="run.aquan.iron.system.model.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="support_repld" jdbcType="INTEGER" property="supportRepld" />
  </resultMap>
</mapper>